/* reset browser default stylings*/

* {
	margin: 0;
  padding: 0;
}


nav {
	margin-bottom: 20px;
	background-color: #131bff;
	padding-bottom: 43px;
	
}

nav ul li {
	list-style: none;
	display: inline;
	font-size: 25px;
}